<p class="blue">asd</p>
<p *ngIf="showNow">Welcome {{ name }}</p>
<p [ngStyle]="{color: 'red'}">Welcome {{ name }}</p>
<p *ngFor="let item of data;let i = index">
    {{item}} with index {{i}}
</p>

<p>{{ name | lowercase }}</p>

<!-- <p [ngSwitch]="name">
    <div *ngSwitchCase="actualName">APple</div>
    <div *ngSwitchCase="actualName">Orfange</div>
</p> -->